<div class="form-group">
    <label>Listening port</label>
    <input type="number" class="form-control" id="listeningport" placeholder="3000" value="{{listeningPort}}">
  </div>


<footer class="toolbar toolbar-footer">
  <div class="toolbar-actions">
    <button class="btn btn-default" id="cancel-button">
      Cancel
    </button>

    <button class="btn btn-primary pull-right" id="save-button">
      Save
    </button>
  </div>
</footer>